<label>
  Match type:
  <div id="matchType" class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="det-casual" autocomplete="off" checked> casual
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="det-tournament" autocomplete="off"> tournament
  </label>
  </div>
</label>
<div style="display: none" id="errorMsg"></div>
<div style="display: none" id="allMatchInfo">
<div id="difficulty"></div>
<div id="started"></div>
</br>
<div style="width: 50%; float:left;" id="playerList"></div>
<div style="width: 50%; float:right;" id="eventList"></div>
</br>
<div style="width: 50%; float:left;" id="spectatorList"></div>
</div>
<script>
function checkInTeam(name, team) {
    if (team.Players == null) {
        return false;
    }
    for (var i=0, l=team.Players.length; i<l; i++) {
        if (team.Players[i].Name == name) {
            return true;
        }
    }
    return false;
}
function fillSpec(details) {
    let tbl = $("<table>")
        .addClass("table-sm")
        .addClass("table-hover")
        .addClass("table-striped")
        .append($("<thead>").append($("<tr>")
            .addClass("table-secondary")
            .append($("<td>").append("Spectator List"))
        ));

    let body = $("<tbody>");
    $.each(details.Players, function(index, data) {
        let name = data.Name;
        if (checkInTeam(name, details.North) || checkInTeam(name, details.South)) {
            return;
        }
        body.append($("<tr>")
            .append($("<a>")
                .attr("href", "/search/?name=" + encodeURIComponent(name))
                .append($("<td>").append(name))
        ));
    });
    tbl.append(body);
    return tbl;
}
function fetchCurrent() {
    let endpoint = "/api/match/current/casual"
    let isTour = $("#det-tournament").is(':checked');
    if (isTour) {
        endpoint = "/api/match/current/tournament";
    }
    $.getJSON(endpoint)
        .done(function(data) {
            $("#errorMsg").hide();
            if (typeof data.Players === 'undefined') {
                $("#errorMsg")
                    .html("There is no ongoing match to show!")
                    .show();
                $("#allMatchInfo").hide();
                return;
            }
            $("#playerList").html(fillShortMatchDetailsRows(data));
            $("#eventList").html(fillLongMatchDetailsRows(data));
            $("#spectatorList").html(fillSpec(data));
            $("#difficulty").html("Difficulty: " + diff2str[data.Difficulty]);
            $("#started").html("Started: " + moment(data.Start).fromNow());
            $("#allMatchInfo").show();
        })
        .fail(function( jqxhr, textStatus, error ) {
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
            $("#errorMsg")
                .html("Fetching recent matches failed: " + err)
                .show();
            $("#allMatchInfo").hide();
        });
}
$('#matches').ready(fetchCurrent);
$('#matchType').change(fetchCurrent);
</script>

