<div style="display: none" id="errorMsg"></div>
<div style="display: none" id="difficulty"></div>
</br>
<div style="width: 50%; float:left;" id="playerList"></div>
<div style="width: 50%; float:right;" id="eventList"></div>
</br>
<div style="width: 50%; float:left;" id="spectatorList"></div>
<script>
function checkInTeam(name, team) {
    if (team.Players == null) {
        return false;
    }
    return (($.grep(team.Players, function(pl) {return name != pl.Name;})).length != 0)
}
function fillSpec(details) {
    let tbl = $("<table>")
        .addClass("table-sm")
        .addClass("table-hover")
        .addClass("table-striped")
        .append($("<thead>").append($("<tr>")
            .addClass("table-secondary")
            .append($("<td>").append("Spectator List"))
        ));
    
    $.each(details.Players, function(index, data) {
        let name = data.Name;
        if (checkInTeam(name, details.North) || checkInTeam(name, details.South)) {
            return;
        }
        tbl.append($("<tr>")
            .append($("<td>").append(name))
        );
    })
    return tbl;
}
$('#matches').ready(function() {
    $.getJSON( "/api/match/current")
        .done(function(data) {
            $("#playerList").html(fillShortMatchDetailsRows(data));
            $("#eventList").html(fillLongMatchDetailsRows(data));
            $("#spectatorList").html(fillSpec(data));
            $("#difficulty").html("Difficulty: " + diff2str[data.Difficulty]).show();
        })
        .fail(function( jqxhr, textStatus, error ) {
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
            $("#errorMsg")
                .html("Fetching recent matches failed: " + err)
                .show();
        });
});
</script>

