<form style="display:inline;" id="search">
  <input id="searchfield" type="text" placeholder="Player..." name="name">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<label>
  Match details:
  <div id="detail" class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="details" id="det-short" autocomplete="off" checked> teams
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="details" id="det-long" autocomplete="off"> events
  </label>
  </div>
</label>
</br>
<div id="winrate" style="display: none"></div>
<div id="eloHistory" style="margin-left: auto; margin-right: auto; padding: 10px; display: none"></div>
<div id="elo" style="display: none"></div>
<div id="diffBreak" style="display: none"></div>
<table class="table table-striped table-hover" id="matches">
    <thead class="table-secondary">
        <tr>
        <td>ID</td>
        <td>Started</td>
        <td>Game length</td>
        <td>Winner</td>
        <td>Difficulty</td>
        <td>ELO</td>
        </tr>
    </thead>
    <tbody>
        <tr />
    </tbody>
</table>
<script>

function showStats() {
    let wins = $(".table-success").length;
    let losses = $(".table-danger").length;
    $("#winrate")
        .empty()
        .append($("<h5>").append("Winrate: " + Math.round(wins/(wins+losses)*100) + "%" )
            .append(" " + wins + "W" + " " + losses + "L"))
        .show();
}

function showHistoryChart(name) {
    $("#eloHistory")
        .empty()
        .append($("<img>").attr("src", "/api/graph/player/"+encodeURIComponent(name)))
        .show();
}

function getPlayerMatchHistory() {
    let tbl = $('#matches > tbody');
    tbl.empty();
    tbl.append($("<tr>"));
    let name = $("#searchfield").val();
    $.getJSON( "/api/player/"+encodeURIComponent(name)+"/history")
        .done(function(data) {
            $.each(data, function(index, match) {
                addRecentMatchesEntry(tbl, match.Match, match);
            });

            showStats();
            showDifficultyBreakdown();
            showHistoryChart(name);

            urlParams.set("name", name);

            history.pushState({}, "Player History: " + name,
                "?" + urlParams.toString());
        })
        .fail(function( jqxhr, textStatus, error ) {
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
            $("#winrate").empty();
            $("#eloHistory").empty();
            $("#diffBreak").empty();
            let tbl = $('#matches > tbody');
            tbl.append($("<tr>")
                .append($("<td>")
                    .append("Fetching player's matches failed: " + err)
                    .attr("colSpan", "5")
                ));
        });
}
$(document).ready(function() {
    let query = urlParams.get("name");
    if (query != null) {
        $("#searchfield").val(query);
        getPlayerMatchHistory();
    }
})
$('#search').submit(function(event) {
    event.preventDefault();
    getPlayerMatchHistory();
});
</script>
