<form id="search">
  <input id="searchfield" type="text" placeholder="Player..." name="name">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<table class="table table-striped table-hover" id="matches">
    <thead class="table-secondary">
        <tr>
        <td>ID</td>
        <td>When</td>
        <td>Game length</td>
        <td>Winner</td>
        <td>Difficulty</td>
        </tr>
    </thead>
    <tbody>
        <tr />
    </tbody>
</table>
<script>
function getPlayerMatchHistory() {
    let tbl = $('#matches > tbody');
    tbl.empty();
    tbl.append($("<tr>"));
    let name = $("#searchfield").val();
    $.getJSON( "/api/player/"+encodeURIComponent(name)+"/history/")
        .done(function(data) {
            $.each(data, function(index, match) {
                addRecentMatchesEntry(tbl, match);
            });
            let main = window.location.href;
            main = main.substring(0, main.lastIndexOf("/") + 1);
            window.history.pushState({"pageTitle":"Player History: " + name},"", main + "?name=" + name);
        })
        .fail(function( jqxhr, textStatus, error ) {
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
            let tbl = $('#matches > tbody');
            tbl.append($("<tr>")
                .append($("<td>")
                    .append("Fetching player's matches failed: " + err)
                    .attr("colSpan", "5")
                ));
        });
}
$(document).ready(function() {
    let query = window.location.href.slice(window.location.href.indexOf('?name=') + 1);
    query = query.split("=");
    if (query.length > 1 && query[1].length > 0) {
        $("#searchfield").val(query[1]);
        getPlayerMatchHistory();
    }
})
$('#search').submit(function(event) {
    event.preventDefault();
    getPlayerMatchHistory();
});
</script>
