<div style="display: none" id="errorMsg"></div>

<h2>Difficulty breakdown</h2>

<div style="float:left">
<h3>Last 3 days</h3>
<img src="/api/graph/difficulty/3" alt="Difficulty over the last 3 days" width="240" height="240">
</div>

<div style="float:left">
<h3>Last week</h3>
<img src="/api/graph/difficulty/7" alt="Difficulty over the last week" width="240" height="240">
</div>

<div style="float:left">
<h3>Last month</h3>
<img src="/api/graph/difficulty/30" alt="Difficulty over the last month" width="240" height="240">
</div>

<h2>Game length in the last month</h2>

<div style="padding: 10px">
<img src="/api/graph/length/30" alt="Game length over the last month">
</div>

<h2>Player count in the last month</h2>

<div style="padding: 10px">
<img src="/api/graph/players/30" alt="Player count over the last month">
</div>

<script>
window.ready(function() {
});
</script>
